@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";
@import "./section-title.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";

/* Start courses top bar section  */
.courses {
  margin: 5rem 0;
}

.courses-top-bar {
  padding: 2rem 3.5rem;
  box-shadow: 0 0 20px rgba(162, 172, 185, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left  */
.courses-top-bar__form {
  position: relative;
  max-width: 30rem;
}

#courses-top-bar__form-input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-500);
  padding: 0.5rem;
}

#courses-top-bar__form-input::placeholder {
  font-size: 1.3rem;
  color: var(--color-gray-800);
}

.courses-top-search-icon {
  position: absolute;
  left: 1rem;
  top: 1.28rem;
  color: var(--color-gray-800);
  cursor: pointer;
  font-size: 1.5rem;
}
/* Finish courses top bar section  */
