@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";
@import "./section-title.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";

/* Start courses top bar section  */
.courses {
  margin: 5rem 0;
}

.courses-top-bar {
  padding: 2rem 3.5rem;
  box-shadow: 0 0 20px rgba(162, 172, 185, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Right  */
.courses-top-bar__right {
  display: flex;
  align-items: center;
}

.courses-top-bar__row-btn {
  width: 4rem;
  height: 3.5rem;
  border: 1px solid var(--color-gray-500);
  color: var(--color-gray-800);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.courses-top-bar__row-btn:nth-child(2) {
  margin: 0 1rem;
}

.courses-top-bar__icon--active {
  background-color: var(--links-hover-color);
  color: var(--white-color);
}

.courses-top-bar__selection {
  position: relative;
}
.courses-top-bar__selection-title {
  color: var(--color-gray-800);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 1px solid var(--color-gray-500);
  border-radius: 0.5rem;
  font-size: var(--fs-h4);
}

.courses-top-bar__selection-title:hover {
  color: var(--white-color);
  background-color: var(--links-hover-color);
}

.courses-top-bar__selection-icon {
  margin-right: 0.5rem;
}

.courses-top-bar__selection-list {
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: var(--white-color);
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.courses-top-bar__selection:hover .courses-top-bar__selection-list {
  opacity: 1;
  visibility: visible;
}

.courses-top-bar__selection-items {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: var(--dark-color);
}

.courses-top-bar__selection-items--active {
  background-color: var(--color-gray-100);
}

.courses-top-bar__selection-items:hover {
  background-color: var(--color-gray-100);
}

.courses-top-bar__selection-items:last-child {
  margin-bottom: 0;
}

/* Left  */
.courses-top-bar__form {
  position: relative;
  max-width: 30rem;
}

#courses-top-bar__form-input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-500);
  padding: 0.5rem;
}

#courses-top-bar__form-input::placeholder {
  font-size: 1.3rem;
  color: var(--color-gray-800);
}

.courses-top-search-icon {
  position: absolute;
  left: 1rem;
  top: 1.28rem;
  color: var(--color-gray-800);
  cursor: pointer;
  font-size: 1.5rem;
}

/* Pagination  */
.courses-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.courses-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-pagination__items {
  margin: 0 1rem;
}

.courses-pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--color-gray-100);
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-gray-100);
  color: var(--color-gray-800);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.courses-pagination__link:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.courses-pagination__link--active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Finish courses top bar section  */
