@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";
@import "./section-title.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";
@import "./pagination.css";
