@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";
@import "./section-title.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";
@import "./pagination.css";
@import "./helper.css";

/* Start breadcrumb styles  */
.breadcrumb-content {
  background-color: var(--color-gray-100);
  border-radius: 1rem;
  padding: 1rem 3.5rem;
  display: flex;
  align-items: center;

}

.breadcrumb-content__home-content-icon {
  background-color: var(--white-color);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.breadrumb-content__home-icon {
  font-size: 2rem;
  color: var(--color-gray-500);
}

.breadcrumb-content__list {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.breadrumb-content__item {
  margin-left: 0.5rem;
}

.breadcrumb-content__link {
  display: flex;
  align-items: center;
  font-size: var(--fs-h4);
  color: var(--color-gray-800);
}

.breadcrumb-content__link:hover {
  color: var(--color-gray-800);
}
/* Finish breadcrumb styles  */

/* Start course info styles  */
.course-info {
  margin: 2rem 0 4rem;
}

.course-info__right {
  padding-right: 3.5rem;
}

.course-info__category-link {
  font-size: var(--fs-body);
  line-height: var(--lh-normal);
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.3rem;
  transition: all 0.5s ease;
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
}

.course-info__category-link:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  
}

.course-info__title {
  margin: 1rem 0;
  font-size: var(--fs-h2);
  font-weight: bold;
  color: var(--color-gray-800);
  line-height: var(--lh-normal);
}

.course-info__discrription {
  color: var(--color-gray-800);
  font-size: var(--fs-h4);
  line-height: var(--lh-normal);
  margin-bottom: 0;
}

.course-info__social-media-items {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.course-info__social-media-link {
  margin-left: 1rem;
}

.course-info__social-media-icon {
  font-size: 2rem;
}

.course-info__video {
  width: 100%;
  border-radius: 1rem;
}
/* Finish course info styles  */

/* Start course main body styles  */
.main {
  margin: 2rem 0 4rem;
}
.course-details-boxes__box {
  padding: 1.5rem;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.course-dtails-boxes__right-icon {
  color: var(--primary-color);
  font-size: 3rem;
}

.course-dtails-boxes__left {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.course-dtails-boxes__left-title {
  font-size: 1.7rem;
  color: var(--color-gray-800);
}
/* Finish course main body styles  */

/* Start progress bar styles  */
.course-progress {
  background-color: var(--color-gray-100);
  padding: 2rem 1.5rem;
  margin: 3rem 0;
  border-radius: 0.5rem;
}

.course-progress__header {
  color: var(--color-gray-500);
  display: flex;
  align-items: center;
}

.course-progress__header-icon {
  font-size: 2rem;
  margin-left: 1.5rem;
  color: var(--color-gray-800);
}
.progress {
  margin-top: 2rem;
  border-radius: 10rem;
}

.progress-bar {
  background-color: var(--primary-color) !important;
}
/* Finish progress bar styles  */

/* Start course introduction styles  */
.course-introduction {
  margin: 3rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  padding: 2rem 3rem;
}

.course-introduction__items-img {
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.course-introduction__cap {
  color: var(--color-gray-800);
  font-size: var(--fs-h4);
  margin: 2rem 0;
}

.course-introduction__btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.course-introduction__btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.course-introduction__btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}
/* Finish course introduction styles  */

/* Start course accordion styles  */
.course-accoordion {
  background-color: #F5F5F5;
  border-radius: 1rem;
  margin-top: -1.5rem;
  border: 1px solid transparent;
  margin-bottom: 5rem;
  position: relative;
}

.course-accordion--open {
  border-color: #E5E5E5B2;
}

.course-accordion__header {
  padding: 2rem 3.5rem;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  color: var(--color-gray-800);
  font-size: 2rem;
}

.course-accordion__header-title {
  color: var(--color-gray-800);
  font-size: var(--fs-h3);
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.course-accordion--open  .course-accordion__header-title {
  color: var(--primary-color);
}


.course-accordion__body {
  padding: 0 3.5rem 2rem;
  display: none;
  color: var(--color-gray-500);
}

.course-accordion--open > .course-accordion__body {
  display: block;
}

.course-accordion__icon {
  position: absolute;
  background-color: var(--white-color);
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid #05a6a6;
  border-radius: 100%;
  left: 1.8rem;
  bottom: -1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.course-accordion--open .course-accordion__icon {
  background-color: #05a6a6;
}

.course-accordion__icon-add {
  display: block;
  color: #05a6a6;
  font-size: 0.5rem;
}

.course-accordion--open .course-accordion__icon-add {
  display: none;
}

.course-accordion__icon-minus {
  display: none;
  color: #05a6a6;
}

.course-accordion--open  .course-accordion__icon-minus{
  display: block;
  color: var(--white-color);
}

/* Finish course accordion styles  */


