@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";
@import "./section-title.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";
@import "./pagination.css";

/* Start breadcrumb styles  */
.breadcrumb-content {
  background-color: var(--color-gray-100);
  border-radius: 1rem;
  padding: 1rem 3.5rem;
  display: flex;
  align-items: center;

}

.breadcrumb-content__home-content-icon {
  background-color: var(--white-color);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.breadrumb-content__home-icon {
  font-size: 2rem;
  color: var(--color-gray-500);
}

.breadcrumb-content__list {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.breadrumb-content__item {
  margin-left: 0.5rem;
}

.breadcrumb-content__link {
  display: flex;
  align-items: center;
  font-size: var(--fs-h4);
  color: var(--color-gray-800);
}

.breadcrumb-content__link:hover {
  color: var(--color-gray-800);
}
/* Finish breadcrumb styles  */

