.courses-box {
  background-color: var(--white-color);
  box-shadow: 0 0 20px rgba(162, 172, 185, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
}

.courses-box:hover {
  transform: translateY(-0.5rem);
}

.courses-box__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.courses-box__main {
  padding: 0 1.5rem;
}

.courses-box__title {
  padding: 1.5rem 0;
  font-size: var(--fs-h4);
  line-height: var(--lh-tight);
  font-weight: 700;
  color: var(--dark-color);
}

.courses-box__rating-teacher, .courses-box__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-box__teacher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.courses-box__teacher-icon, .courses-box__user-icon {
  color: var(--color-gray-500);
  font-size: var(--fs-h3);
}

.courses-box__teacher-link, .courses-box__users-text {
  font-size: var(--fs-h4);
  line-height: var(--lh-tight);
  color: var(--dark-color);
  font-family: var(--primary-font);
}

.courses-box__rating-img {
  margin: -0.2rem;
}

.courses-box__status {
  margin: 1rem 0;
}

.courses-box__price {
  font-size: var(--fs-h4);
  line-height: var(--lh-tight);
  color: var(--dark-color);
}

.courses-box__footer {
  border-top: 1px solid var(--color-gray-100);
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-box__footer-link {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/*>>>>>>>>>>>>>>>> Finish courses content styles */