@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";
@import "./section-title.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";


/* Start Lnading Style  */
.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/landingIcones/background_landing.jfif) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  padding: 9rem 0;
  text-align: center;
}

.landing__title {
  font-size: 3.5rem;
  font-weight: bold;
}

.landing__caption {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.landing__searchbar {
  max-width: 700px;
  min-width: 300px;
  margin: 3rem auto;
  position: relative;
}

.landing__searchbar-input {
  width: 100%;
  background-color: var(--white-color);
  border: none;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.landing__searchbar-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  padding: 1.5rem;
}

.landing__searchbar-icon {
  color: var(--white-color);
  font-size: 2rem;
}

.landing-status {
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-status__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-status__items span:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
}

.landing-status__items span:nth-child(3) {
  font-size: 1.5rem;
}

.landing-status__icon {
  color: var(--white-color);
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
}
/* Finish Lnading Style  */

/* Start courses section style  */
.courses {
  margin-top: 5rem;
}
/*>>>>>>>>>>>>>>>> Start courses head styles */
.courses-head__link {
  font-size: var(--fs-h4);
  line-height: var(--lh-loose);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px  solid var(--primary-color);
  transition: all 0.5s ease;
}

.courses-head__link:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}
/*>>>>>>>>>>>>>>>> Finish courses head styles */

/*>>>>>>>>>>>>>>>> Start courses content styles */
.courses-content {
  margin-top: 2rem;
}
/* Finish courses section style  */

/* Start help section style  */
.helper-section {
  margin-top: 5rem;
}

.helper-section__content {
  margin-top: 2rem;
}

.helper-section__box {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.helper-section__box-icon {
  font-size: 5.5rem;
  margin-left: 1rem;
}

.helper-section__box-left {
  display: flex;
  flex-direction: column;
}

.helper-section__box-title {
  font-family: var(--primary-font);
  font-size: var(--fs-h3);
  line-height: var(--lh-tight);
  color: var(--color-gray-900);
}

.helper-section__box-subtitle {
  font-family: var(--primary-font);
  font-size: var(--fs-h4);
  line-height: var(--lh-normal);
  color: var(--color-gray-800);
}
/* Finish help section style  */

/* Start popular courses style  */
.popular-courses {
  margin-top: 5rem;
}

.popular-courses__content, .presell-courses__content {
  margin-top: 2rem;
}

.popular-courses__content .courses-box, .presell-courses__content .courses-box {
  margin: 0 0.75rem;
  box-shadow: 0 0 20px rgba(162, 172, 185, 0.5);
}

.popular-courses__content .courses-box, .presell-courses__content .courses-box {
  transform: none;
}

.popular-courses__content .swiper-container, .presell-courses__content .swiper-container {
  margin-top: 1rem;
}

.popular-courses__content .swiper-wrapper, .presell-courses__content .swiper-wrapper  {
  padding: 1rem 0;
  background-color: none;
}
/* Finish popular courses style  */

/* Start pre-sell courses style  */
.presell-courses {
  margin-top: 5rem;
}
/* Finish pre-sell courses style  */

/* Start articles styles  */
.articles {
  margin-top: 5rem;
}

.articles-head__link {
  font-size: var(--fs-h4);
  line-height: var(--lh-loose);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px  solid var(--primary-color);
  transition: all 0.5s ease;
}

.articles-head__link:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}

.articles-card {
  padding-top: 1.5rem;
  box-shadow: 0 0 20px rgba(162, 172, 185, 0.5);
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.articles-card:hover {
  transform: translateY(-0.5rem);
}

.articles-card__img {
  display: block;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.articles-card__content {
  padding: 1rem 1.5rem;
}

.articles-card__link {
  font-size: var(--fs-h4);
  line-height: var(--lh-tight);
  font-weight: 700;
  color: var(--dark-color);
}

.articles-card__sub {
  font-size: var(--fs-h4);
  line-height: var(--lh-tight);
  color: var(--dark-color);
  font-family: var(--primary-font);
}

.articles-card__btn {
  font-size: var(--fs-h4);
  line-height: var(--lh-loose);
  font-weight: 100;
  background-color: var(--white-color);
  color: var(--primary-color);
  padding: 0.5rem 0.5rem;
  display: inline-block;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  transition: all 0.5s ease;
}

.articles-card__btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
/* Finish articles styles  */
















