@import "../css/variables.css";
@import "../fonts/05-font-faces-and-css-variables/fonts.css";
@import "./top-bar.css";
@import "./typographic-scale.css";

/* Start Default Style  */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 0.5s ease;
}

a:hover {
  color: var(--links-hover-color);
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

i {
  -webkit-user-select: none;
  user-select: none;
}
/* Finish Default Style  */


 /* Start Navbar Style  */
.header-navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}
/*>>>>>>>>>>>>>>>> Start Header Navbar Right Side Style  */
.header-navbar__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-grow: 1;
}

.header-navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 3rem;
}

.header-navbar__items {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
}

.header-navbar__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navbar__link:hover {
  color: var(--color-gray-500);
}

.hader-navbar__link-icon {
  margin-right: 0.5rem;
}
/*>>>>>>>>>>>>>>>> Finish Header Navbar Right Side Style  */


/*>>>>>>>>>>>>>>>>  Start Dropdown Style  */
.header-navbar__dropdown {
  width: 24rem;
  position: absolute;
  margin-top: 2rem;
  background-color: var(--white-color);
  right: 0;
  left: 0;
  box-shadow: 0 0 10px 0  rgba(0, 0, 0, 0.12);
  padding: 1rem 0;
  border-radius: 1rem;
  border-bottom: 3px solid var(--primary-color);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.5s ease;
}

.header-navbar__items:hover .header-navbar__dropdown {
  opacity: 1;
  visibility: visible;
  margin-top: 2.5rem;
}

.header-navbar__dropdown-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  transition: all 0.5s ease;
}
/*>>>>>>>>>>>>>>>>  Finish Dropdown Style  */


/*>>>>>>>>>>>>>>>> Start Header Navbar Left Side Style  */
.header-navbar__left {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  flex-grow: 1;
}

.header-navbar__left .header-navbar__search , .header-navbar__shopping-card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.header-navbar__left .header-navbar__search > .header-navbar__search-icon  {
  color: var(--white-color);
  font-size: 2rem;
}

.header-navbar__left .header-navbar__shopping-card {
  background-color: var(--color-gray-100);
}

.header-navbar__left .header-navbar__shopping-card > .header-navbar__shopping-icon {
  color: var(--dark-color);
}
.header-navbar__left .header-navbar__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.5s ease;
}

.header-navbar__left .header-navbar__profile:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}
/*>>>>>>>>>>>>>>>> Finish Header Navbar Left Side Style  */
 /* Finish Navbar Style  */


/* Start Lnading Style  */
.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/landingIcones/background_landing.jfif) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  padding: 9rem 0;
  text-align: center;
}

.landing__title {
  font-size: 3.5rem;
  font-weight: bold;
}

.landing__caption {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.landing__searchbar {
  max-width: 700px;
  min-width: 300px;
  margin: 3rem auto;
  position: relative;
}

.landing__searchbar-input {
  width: 100%;
  background-color: var(--white-color);
  border: none;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.landing__searchbar-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  padding: 1.5rem;
}

.landing__searchbar-icon {
  color: var(--white-color);
  font-size: 2rem;
}

.landing-status {
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-status__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-status__items span:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
}

.landing-status__items span:nth-child(3) {
  font-size: 1.5rem;
}

.landing-status__icon {
  color: var(--white-color);
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
}
/* Finish Lnading Style  */

/* Start courses section style  */
.courses {
  margin: 5rem 0;
}

.courses-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.courses-head__right::after {
   content: "";
  display: block;
  width: 5rem;
  height: 0.5rem;
  border-radius: 2rem;
  transform: rotate(-85deg);
  background-color: var(--primary-color);
  position: absolute;
  top: 25px;
  right: -35px;
}

.courses-head__title {
  font-size: var(--fs-h3);
  line-height: var(--lh-tight);
  font-weight: 700;
  position: relative;
  z-index: 10; 
}

.courses-head__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 25rem;
  height: 1.5rem;
  background-color: var(--primary-color);
  z-index: -5;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.courses-head__text {
  font-size: var(--fs-small);
  line-height: var(--lh-normal);
}

.courses-head__link {
  font-size: var(--fs-h4);
  line-height: var(--lh-loose);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px  solid var(--primary-color);
  transition: all 0.5s ease;
}

.courses-head__link:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}
/* Finish courses section style  */






