/* Start Pagination  Styles */
.courses-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.courses-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-pagination__items {
  margin: 0 1rem;
}

.courses-pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--color-gray-100);
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-gray-100);
  color: var(--color-gray-800);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.courses-pagination__link:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.courses-pagination__link--active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Finish Pagination  Styles */