/* Styles for top bar mobile section  */

@media only screen and (max-width: 991px) {

  .top-bar {
   -webkit-box-shadow: 0px -37px 64px -40px rgba(0,0,0,0.75) inset;
   -moz-box-shadow: 0px -37px 64px -40px rgba(0,0,0,0.75) inset;
   box-shadow: 0px -37px 64px -40px rgba(0,0,0,0.75) inset;
   height: 64px;
   padding: 0;
  }

  .top-bar__menu-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .top-bar__menu {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  .top-bar__items {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
  @keyframes credits-scroll-fade {
    0%   { transform: translateY(64px); opacity: 0;}
    5%   {opacity: 0.25;}
    10%  {opacity: 0.4;}
    15%  {opacity: 1;}
    80%  {opacity: 1;}           
    100% { transform: translateY(-384px); opacity: 0;}  
  }

  .top-bar__items-scroll {
    animation: credits-scroll-fade 15s 0s linear infinite;
  }
}
