/* Styles for top bar mobile section  */

@media only screen and (max-width: 992px) {

  .top-bar {
   -webkit-box-shadow: 0px -37px 64px -26px rgba(0,0,0,0.75) inset;
   -moz-box-shadow: 0px -37px 64px -26px rgba(0,0,0,0.75) inset;
   box-shadow: 0px -37px 64px -26px rgba(0,0,0,0.75) inset;
  }

  .top-bar__right {
    width: 100%;
    justify-content: center;
  }
}