/* Start Top Bar Styles  */

.top-bar {
  background: #1EB35B;
  background: linear-gradient(0deg, rgba(30, 179, 91, 0.62) 0%, rgba(30, 179, 91, 1) 30%);
  padding: 2rem 0;
}

.top-bar__content {
  padding: 0 0.75rem;
}

/* >>>Top bar right styles  */
.top-bar__menu{
  font-size: 1.5rem;
}

.top-bar__items {
  padding: 0 1.5rem;
}

.top-bar__link {
  color: var(--text-white);
  font-size: var(--fs-h4);
}
.top-bar__link:hover {
  color: var(--text-white);
}

.top-bar__items:first-child {
  padding-right: 0;
}

/* >>>Top bar left styles  */
.top-bar__contact-info {
  gap: 2rem;
  margin-bottom: 0;
}

.top-bar__email,
.top-bar__phone {
  gap: 0.5rem;
  color: var(--text-white);
}

.top-bar__email--icon,
.top-bar__phone--icon {
  color: var(--text-white);
}

/* Finish Top Bar Styles  */