/* Start Top Bar Styles  */

.top-bar {
  background-color: var(--primary-color);
  padding: 2rem 0;
}

.top-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.top-bar__menu{
  display: flex;
  font-size: 1.5rem;
}

.top-bar__items {
  padding: 0 1.5rem;
}

.top-bar__link {
  color: var(--text-white);
}
.top-bar__link:hover {
  color: var(--text-white);
}

.top-bar__items:first-child {
  padding-right: 0;
}

.top-bar__contact-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.top-bar__email,
.top-bar__phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-bar__email--icon,
.top-bar__phone--icon {
  color: var(--text-white);
  font-size: 2rem;
}

/* Finish Top Bar Styles  */