:root {
  --primary-color: #1eb35b;
  --secondary-color: #242a38;
  --bg-dark: #111827;
  --text-white: #ffffff;
  --text-white70: #ffffffb3;
  --text-gray-400: #9ca3af;
  --color-yellow-500: #f59e0b;
  --white-color: #fff;
  --dark-color: #464749;
  --color-gray-100: #f3f4f6;
  --color-gray-400: oklch(87.2% 0.01 258.338);
  --color-gray-500: #64748b;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --primary-font: IRANSans;
  --fn-ir-ultralight: IRANSans_UltraLight;
  --fn-ir-medium: IRANSans_Medium;
  --fn-ir-light: IRANSans_Light;
  --fn-ir-bold: IRANSans_Bold;
  --fn-ir-black: IRANSans_Black;
  --links-hover-color: #1e53f0;
}