:root {
  --primary-color: #2bce56;
  --white-color: #fff;
  --dark-color: #464749;
  --color-gray-100: #f3f4f6;
  --color-gray-500: #64748b;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --primary-font: IRANSans;
  --fn-ir-ultralight: IRANSans_UltraLight;
  --fn-ir-medium: IRANSans_Medium;
  --fn-ir-light: IRANSans_Light;
  --fn-ir-bold: IRANSans_Bold;
  --fn-ir-black: IRANSans_Black;
  --links-hover-color: #1e53f0;
}