@font-face {
  font-family: IRANSans;
  src: url(IRANSans/IRANSans.ttf);
}
@font-face {
  font-family: IRANSans_UltraLight;
  src: url(IRANSans/IRANSans_UltraLight.ttf);
}
@font-face {
  font-family: IRANSans_Medium;
  src: url(IRANSans/IRANSans_Medium.ttf);
}
@font-face {
  font-family: IRANSans_Light;
  src: url(IRANSans/IRANSans_Light.ttf);
}
@font-face {
  font-family: IRANSans_Bold;
  src: url(IRANSans/IRANSans_Bold.ttf);
}
@font-face {
  font-family: IRANSans_Black;
  src: url(IRANSans/IRANSans_Black.ttf);
}