@import "tailwindcss";

:root {

  /* Variables  */
  --fs-normal: clamp(0.875rem, 1vw, 1rem);
}

/* Utilities  */
@layer utilities {

  /* Bg-Linear  */
  .bg-linear-blue-pink {
    background: linear-gradient(90deg, rgba(46, 158, 255, 1), rgba(46, 158, 255, 1));
  }
  .bg-linear-sky-green {
    background: linear-gradient(90deg, rgba(48, 197, 228, 1), rgba(40, 229, 93, 1));
  }
  .bg-linear-pinks {
    background: linear-gradient(90deg, rgba(255, 53, 113, 1), rgba(136, 1, 117, 1));
  }
  .bg-linear-yellow-pink {
    background: linear-gradient(90deg, rgba(255, 181, 53, 1), rgba(242, 41, 91, 1));
  }

  /* Btn  */
  .btn {
    display: flex;
    height: 2.75rem;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -moz-column-gap: .625rem;
    column-gap: -.5rem;
    border-radius: .5rem;
    border: 1px solid #0000;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1.5rem;
    outline-width: 0;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
    --tw-ring-color: #0000;
    transition: all .15s cubic-bezier(.4,0,.2,1);
  }
  
}

/* Fonts  */
@font-face {
    font-family: 'Dana-Regular';
    src: url('/assets/fonts/Dana-Regular.woff') format('woff'),
        url('/assets/fonts/Dana-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dana-Bold';
    src: url('/assets/fonts/DanaBold-Bold.woff') format('woff'),
        url('/assets/fonts/DanaBold-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaBold-regular';
    src: url('/assets/fonts/DanaBold-Regular.woff') format('woff'),
        url('/assets/fonts/DanaBold-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaDemiBold-ExtraBold';
    src: url('/assets/fonts/DanaDemiBold-ExtraBold.woff') format('woff'),
        url('/assets/fonts/DanaDemiBold-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaDemiBold-Regular';
    src: url('/assets/fonts/DanaDemiBold-Regular.woff2') format('woff2'),
        url('/assets/fonts/DanaDemiBold-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaExtraBlack-Regular';
    src: url('/assets/fonts/DanaExtraBlack-Regular.woff2') format('woff2'),
        url('/assets/fonts/DanaExtraBlack-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaExtraBold-Regular';
    src: url('/assets/fonts/DanaExtraBold-Regular.woff2') format('woff2'),
        url('/assets/fonts/DanaExtraBold-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaMedium-Regular';
    src: url('/assets/fonts/DanaMedium-Regular.woff2') format('woff2'),
        url('/assets/fonts/DanaMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KalamehWebFaNum-Regular';
    src: url('/assets/fonts/KalamehWebFaNum-Regular.woff2') format('woff2'),
        url('/assets/fonts/KalamehWebFaNum-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KalamehWebFaNumMedium-Regular';
    src: url('/assets/fonts/KalamehWebFaNumMedium-Regular.woff2') format('woff2'),
        url('/assets/fonts/KalamehWebFaNumMedium-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KalamehWebFaNumSemiBold-Regular';
    src: url('/assets/fonts/KalamehWebFaNumSemiBold-Regular.woff2') format('woff2'),
        url('/assets/fonts/KalamehWebFaNumSemiBold-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {

  /* Fonts  */
  --font-Dana-Regular: 'Dana-Regular';
  --font-Dana-Bold: 'Dana-Bold';
  --font-DanaBold-regular: 'DanaBold-regular';
  --font-DanaDemiBold-ExtraBold: 'DanaDemiBold-ExtraBold';
  --font-DanaDemiBold-Regular: 'DanaDemiBold-Regular';
  --font-DanaExtraBlack-Regular: 'DanaExtraBlack-Regular';
  --font-DanaExtraBold-Regular: 'DanaExtraBold-Regular';
  --font-DanaMedium-Regular: 'DanaMedium-Regular';
  --font-KalamehWebFaNum-Regular: 'KalamehWebFaNum-Regular';
  --font-KalamehWebFaNumMedium-Regular: 'KalamehWebFaNumMedium-Regular';
  --font-KalamehWebFaNumSemiBold-Regular: 'KalamehWebFaNumSemiBold-Regular';

  /* Colors  */
  --color-primary: rgba(30, 179, 91, 1);
  --color-gray-chateau: rgba(156, 163, 175, 1);
  --color-oxford-blue: rgba(55, 65, 81, 1);
  --color-ebony: rgba(17, 24, 39, 1);
  --color-buttercup: rgba(245, 158, 11, 1);
  /* gray-200  */
  /* slate-900  */

  /* Shadows  */
  --shadow-xtra-fade: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

